* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  height: 20vh;
  display: flex;
  flex-direction: row;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  color: white;
}
.header img {
  width: 60px;
  height: 60px;
}
